{% extends "base.html" %}

{% block title %}Add Document{% endblock %}

{% block content %}
{% if error %}
<div style="color: red; margin-top: 10px; text-align: center;">{{ error }}</div>
{% endif %}
{% if success %}
<div style="color: green; margin-top: 10px; text-align: center;">{{ success }}</div>
{% endif %}
  <form class="upload-form" action="/add_document" method="post" enctype="multipart/form-data">
        <h2>Upload PDF</h2>
        <label for="title">Document Title</label>
        <input type="text" id="title" name="title">

        <label for="file">Select PDF File</label>
        <input type="file" id="file" name="file" accept="application/pdf">

        <button type="submit">Upload</button>
  </form>

{% endblock %}
